<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${pageTitle}"></title>
</head>

<body>
    <a href="/machines">View the machines</a>
    <table>
        <tr>
            <td>Tape:</td>
            <td th:text="${tape}">tape</td>
        </tr>
        <tr>
            <td>Commands:</td>
            <td>
                <ol start="0">
                    <li th:each="command : ${commands}" th:text="${command}"></li>
                </ol>
            </td>
        </tr>
        <form method="post" enctype="multipart/form-data">
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Execute" />
            </td>
        </tr>
        <tr>
            <td>
                Result:
            </td>
            <td th:if="${result}" th:text="${result}"></td>
        </tr>
        </form>
    </table>
</body>

</html>